.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 190px;
    &-content{
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        
    }
    &-title {
        font-size: 48px;
        line-height: 46px;
        padding-bottom: 25px;
    }
    &-desc {
        max-width: 445px;
        line-height: 32px;
        padding-bottom: 45px;
    }

}