.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 80px;
    &-list {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    & a.icon {
        background: black;
        display: none;;
        position: absolute;
        right: 0;
        top: 0;
    }
    &-item {
        padding-left: 40px;
        color: #7D7987;
        & >a {
            color: #7D7987;
        }
    }
    
}
@media only screen and (max-width: 600px) {
    .menu {
        & a.icon {
        display: block;
    }
  }
}